In [ ]:
pip install pymongo

Python interpreter will be restarted.
Requirement already satisfied: pymongo in /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages (3.11.0)
Python interpreter will be restarted.

In [ ]:
pip install pymongo[srv]

Python interpreter will be restarted.
Requirement already satisfied: pymongo[srv] in /local_disk0/.ephemeral_nfs/cluster_libraries/python/lib/python3.9/site-packages (3.11.0)
Collecting dnspython<2.0.0,>=1.16.0
  Downloading dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0
Python interpreter will be restarted.

In [ ]:
pip install PyMySQL

Python interpreter will be restarted.
Requirement already satisfied: PyMySQL in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (1.0.3)
Python interpreter will be restarted.

In [ ]:
pip install Flask-SQLAlchemy

Python interpreter will be restarted.
Requirement already satisfied: Flask-SQLAlchemy in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (3.0.3)
Requirement already satisfied: Flask>=2.2 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Flask-SQLAlchemy) (2.3.2)
Requirement already satisfied: SQLAlchemy>=1.4.18 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Flask-SQLAlchemy) (2.0.13)
Requirement already satisfied: importlib-metadata>=3.6.0 in /databricks/python3/lib/python3.9/site-packages (from Flask>=2.2->Flask-SQLAlchemy) (4.11.3)
Requirement already satisfied: Werkzeug>=2.3.3 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Flask>=2.2->Flask-SQLAlchemy) (2.3.4)
Requirement already satisfied: click>=8.1.3 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Flask>=2.2->Flask-SQLAlchemy) (8.1.3)
Requirement already satisfied: itsdangerous>=2.1.2 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Flask>=2.2->Flask-SQLAlchemy) (2.1.2)
Requirement already satisfied: blinker>=1.6.2 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Flask>=2.2->Flask-SQLAlchemy) (1.6.2)
Requirement already satisfied: Jinja2>=3.1.2 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Flask>=2.2->Flask-SQLAlchemy) (3.1.2)
Requirement already satisfied: zipp>=0.5 in /databricks/python3/lib/python3.9/site-packages (from importlib-metadata>=3.6.0->Flask>=2.2->Flask-SQLAlchemy) (3.7.0)
Requirement already satisfied: MarkupSafe>=2.0 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from Jinja2>=3.1.2->Flask>=2.2->Flask-SQLAlchemy) (2.1.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from SQLAlchemy>=1.4.18->Flask-SQLAlchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /local_disk0/.ephemeral_nfs/envs/pythonEnv-db5dc27b-7ec5-46ab-bde2-db236be79d38/lib/python3.9/site-packages (from SQLAlchemy>=1.4.18->Flask-SQLAlchemy) (2.0.2)
Python interpreter will be restarted.

In [ ]:
# Import Statements
import os
import json
import numpy
import datetime
import pandas as pd
import pymongo
from sqlalchemy import create_engine
import pyspark.pandas as pd
from pyspark.sql.functions import col
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, BinaryType
from pyspark.sql.types import ByteType, ShortType, IntegerType, LongType, FloatType, DecimalType

In [ ]:
jdbc_hostname = "gmf7dpk-mysql.mysql.database.azure.com"
jdbc_port = 3306
src_database = "sakila_dw2"

connection_properties = {
  "user" : "gmf7dpk",
  "password" : "Passw0rd321",
  "driver" : "org.mariadb.jdbc.Driver"
}

atlas_cluster_name = "sandbox.zibbf"
atlas_database_name = "Sakila"
atlas_user_name = "gmf7dpk"
atlas_password = "TheUserForGrant"

dst_database = "sakila_dlh"
base_dir = "dbfs:/FileStore/ds2002-lab06"
data_dir = f"{base_dir}/source_data"
batch_dir = f"{data_dir}/batch"
stream_dir = f"{data_dir}/stream"
database_dir = f"{base_dir}/{dst_database}"
new_data_bronze = f"{database_dir}/fact_new_data/bronze"
new_data_silver = f"{database_dir}/fact_new_data/silver"
new_data_gold = f"{database_dir}/fact_new_data/gold"
new_data_stream_dir = f"{stream_dir}/new_data"

In [ ]:
# Set Up

# ######################################################################################################################
# Use this Function to Fetch a DataFrame from the MongoDB Atlas database server Using PyMongo.
# ######################################################################################################################
def get_mongo_dataframe(user_id, pwd, cluster_name, db_name, collection, conditions, projection, sort):
    '''Create a client connection to MongoDB'''
    mongo_uri = f"mongodb+srv://{user_id}:{pwd}@{cluster_name}.mongodb.net/{db_name}"
    
    client = pymongo.MongoClient(mongo_uri)

    '''Query MongoDB, and fill a python list with documents to create a DataFrame'''
    db = client[db_name]
    if conditions and projection and sort:
        dframe = pd.DataFrame(list(db[collection].find(conditions, projection).sort(sort)))
    elif conditions and projection and not sort:
        dframe = pd.DataFrame(list(db[collection].find(conditions, projection)))
    else:
        dframe = pd.DataFrame(list(db[collection].find()))

    client.close()
    
    return dframe

# ######################################################################################################################
# Use this Function to Create New Collections by Uploading JSON file(s) to the MongoDB Atlas server.
# ######################################################################################################################
def set_mongo_collection(user_id, pwd, cluster_name, db_name, src_file_path, json_files):
    '''Create a client connection to MongoDB'''
    mongo_uri = f"mongodb+srv://{user_id}:{pwd}@{cluster_name}.qsabeum.mongodb.net/?retryWrites=true&w=majority"
    client = pymongo.MongoClient(mongo_uri)
    db = client[db_name]
    
    '''Read in a JSON file, and Use It to Create a New Collection'''
    for file in json_files:
        db.drop_collection(file)
        json_file = os.path.join(src_file_path, json_files[file])
        with open(json_file, 'r') as openfile:
            json_object = json.load(openfile)
            file = db[file]
            result = file.insert_many(json_object)

    client.close()
    
    return result

In [ ]:
%sql
DROP DATABASE IF EXISTS sakila_dlh CASCADE;

In [ ]:
%sql
CREATE DATABASE IF NOT EXISTS sakila_dlh
COMMENT "Project 2 Capstone"
LOCATION "dbfs:/FileStore/project-2-capstone/sakila_dlh"
WITH DBPROPERTIES (contains_pii = true, purpose = "Project 2 Capstone");

In [ ]:
# Retrieving Data from Azure Database for MySQL

%sql
CREATE OR REPLACE TEMPORARY VIEW view_date
USING org.apache.spark.sql.jdbc
OPTIONS (
  url "jdbc:mysql://gmf7dpk-mysql.mysql.database.azure.com:3306/sakila_dw2",
  dbtable "dim_date",
  user "gmf7dpk",
  password "Passw0rd321"
)

In [ ]:
%sql
USE DATABASE sakila_dlh;

CREATE OR REPLACE TABLE sakila_dlh.dim_date
COMMENT "Date Dimension Table"
LOCATION "dbfs:/FileStore/project-2-capstone/sakila_dlh/dim_date"
AS SELECT * FROM view_date

In [ ]:
%sql
SELECT * FROM sakila_dlh.dim_date LIMIT 5

date_key,full_date,date_name,date_name_us,date_name_eu,day_of_week,day_name_of_week,day_of_month,day_of_year,weekday_weekend,week_of_year,month_name,month_of_year,is_last_day_of_month,calendar_quarter,calendar_year,calendar_year_month,calendar_year_qtr,fiscal_month_of_year,fiscal_quarter,fiscal_year,fiscal_year_month,fiscal_year_qtr
20050101,2005-01-01,2005/01/01,01/01/2005,01/01/2005,7,Saturday,1,1,Weekend,53,January,1,N,1,2005,2005-01,2005Q1,7,3,2005,2005-07,2005Q3
20050102,2005-01-02,2005/01/02,01/02/2005,02/01/2005,1,Sunday,2,2,Weekend,53,January,1,N,1,2005,2005-01,2005Q1,7,3,2005,2005-07,2005Q3
20050103,2005-01-03,2005/01/03,01/03/2005,03/01/2005,2,Monday,3,3,Weekday,1,January,1,N,1,2005,2005-01,2005Q1,7,3,2005,2005-07,2005Q3
20050104,2005-01-04,2005/01/04,01/04/2005,04/01/2005,3,Tuesday,4,4,Weekday,1,January,1,N,1,2005,2005-01,2005Q1,7,3,2005,2005-07,2005Q3
20050105,2005-01-05,2005/01/05,01/05/2005,05/01/2005,4,Wednesday,5,5,Weekday,1,January,1,N,1,2005,2005-01,2005Q1,7,3,2005,2005-07,2005Q3

In [ ]:
# Retrieving Database from MongoDB Atlas Database

%scala
import com.mongodb.spark._

val df_films = spark.read.format("com.mongodb.spark.sql.DefaultSource")
.option("database", "Sakila").option("collection", "New_Films").load()
.select("Title", "Year", "Rated", "Released", "Runtime", "Genre", "Director", "Writer", "Actors", "Plot", "Language", "Country", "Awards", "Poster", "Metascore", "imdbRating", "imdbVotes", "imdbID", "Type", "Response")

display(df_films)

Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Metascore,imdbRating,imdbVotes,imdbID,Type,Response
Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang",A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.,"English, Spanish","USA, UK",Won 3 Oscars. Another 80 wins & 121 nominations.,http://ia.media-imdb.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg,83,7.9,"890,617",tt0499549,movie,True
I Am Legend,2007,PG-13,14 Dec 2007,101 min,"Drama, Horror, Sci-Fi",Francis Lawrence,"Mark Protosevich (screenplay), Akiva Goldsman (screenplay), Richard Matheson (novel), John William Corrington, Joyce Hooper Corrington","Will Smith, Alice Braga, Charlie Tahan, Salli Richardson-Whitfield","Years after a plague kills most of humanity and transforms the rest into monsters, the sole survivor in New York City struggles valiantly to find a cure.",English,USA,9 wins & 21 nominations.,http://ia.media-imdb.com/images/M/MV5BMTU4NzMyNDk1OV5BMl5BanBnXkFtZTcwOTEwMzU1MQ@@._V1_SX300.jpg,65,7.2,"533,874",tt0480249,movie,True
The Avengers,2012,PG-13,04 May 2012,143 min,"Action, Sci-Fi, Thriller",Joss Whedon,"Joss Whedon (screenplay), Zak Penn (story), Joss Whedon (story)","Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth",Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity.,"English, Russian",USA,Nominated for 1 Oscar. Another 34 wins & 75 nominations.,http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg,69,8.1,"1,003,301",tt0848228,movie,True
The Wolf of Wall Street,2013,R,25 Dec 2013,180 min,"Biography, Comedy, Crime",Martin Scorsese,"Terence Winter (screenplay), Jordan Belfort (book)","Leonardo DiCaprio, Jonah Hill, Margot Robbie, Matthew McConaughey","Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.","English, French",USA,Nominated for 5 Oscars. Another 35 wins & 154 nominations.,http://ia.media-imdb.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_SX300.jpg,75,8.2,"786,985",tt0993846,movie,True
Interstellar,2014,PG-13,07 Nov 2014,169 min,"Adventure, Drama, Sci-Fi",Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Ellen Burstyn, Matthew McConaughey, Mackenzie Foy, John Lithgow",A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.,English,"USA, UK",Won 1 Oscar. Another 39 wins & 134 nominations.,http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg,74,8.6,"937,412",tt0816692,movie,True
Game of Thrones,2011–,TV-MA,17 Apr 2011,56 min,"Adventure, Drama, Fantasy",N/A,"David Benioff, D.B. Weiss","Peter Dinklage, Lena Headey, Emilia Clarke, Kit Harington","While a civil war brews between several noble families in Westeros, the children of the former rulers of the land attempt to rise up to power. Meanwhile a forgotten race, bent on destruction, plans to return after thousands of years in the North.",English,"USA, UK",Won 1 Golden Globe. Another 185 wins & 334 nominations.,http://ia.media-imdb.com/images/M/MV5BMjM5OTQ1MTY5Nl5BMl5BanBnXkFtZTgwMjM3NzMxODE@._V1_SX300.jpg,N/A,9.5,"1,046,830",tt0944947,series,True
Vikings,2013–,TV-14,03 Mar 2013,44 min,"Action, Drama, History",N/A,Michael Hirst,"Travis Fimmel, Clive Standen, Gustaf Skarsgård, Katheryn Winnick","The world of the Vikings is brought to life through the journey of Ragnar Lothbrok, the first Viking to emerge from Norse legend and onto the pages of history - a man on the edge of myth.","English, Old English, Norse, Old, Latin","Ireland, Canada",Nominated for 7 Primetime Emmys. Another 17 wins & 49 nominations.,http://ia.media-imdb.com/images/M/MV5BOTEzNzI3MDc0N15BMl5BanBnXkFtZTgwMzk1MzA5NzE@._V1_SX300.jpg,N/A,8.6,"198,041",tt2306299,series,True
Gotham,2014–,TV-14,01 Aug 2014,42 min,"Action, Crime, Drama",N/A,Bruno Heller,"Ben McKenzie, Donal Logue, David Mazouz, Sean Pertwee",The story behind Detective James Gordon's rise to prominence in Gotham City in the years before Batman's arrival.,English,USA,Nominated for 4 Primetime Emmys. Another 3 wins & 22 nominations.,http://ia.media-imdb.com/images/M/MV5BMTY2MjMwNDE4OV5BMl5BanBnXkFtZTgwNjI1NjU0OTE@._V1_SX300.jpg,N/A,8.0,"133,375",tt3749900,series,True
Power,2014–,TV-MA,N/A,50 min,"Crime, Drama",N/A,Courtney Kemp Agboh,"Omari Hardwick, Joseph Sikora, Andy Bean, Lela Loren","James ""Ghost"" St. Patrick, a wealthy New York night club owner who has it all, catering for the city's elite and dreaming big, lives a double life as a drug kingpin.",English,USA,1 win & 6 nominations.,http://ia.media-imdb.com/images/M/MV5BOTA4NTkzMjUzOF5BMl5BanBnXkFtZTgwNzg5ODkxOTE@._V1_SX300.jpg,N/A,8.0,"14,770",tt3281796,series,True
Narcos,2015–,TV-MA,28 Aug 2015,49 min,"Biography, Crime, Drama",N/A,"Carlo Bernard, Chris Brancato, Doug Miro, Paul Eckstein","Wagner Moura, Boyd Holbrook, Pedro Pascal, Joanna Christie",A chronicled look at the criminal exploits of Colombian drug lord Pablo Escobar.,"English, Spanish",USA,Nominated for 2 Golden Globes. Another 4 nominations.,http://ia.media-imdb.com/images/M/MV5BMTU0ODQ4NDg2OF5BMl5BanBnXkFtZTgwNzczNTE4OTE@._V1_SX300.jpg,N/A,8.9,"118,680",tt2707408,series,True
Breaking Bad,2008–2013,TV-14,20 Jan 2008,49 min,"Crime, Drama, Thriller",N/A,Vince Gilligan,"Bryan Cranston, Anna Gunn, Aaron Paul, Dean Norris",A high school chemistry teacher diagnosed with inoperable lung cancer turns to manufacturing and selling methamphetamine in order to secure his family's financial future.,"English, Spanish",USA,Won 2 Golden Globes. Another 132 wins & 218 nominations.,http://ia.media-imdb.com/images/M/MV5BMTQ0ODYzODc0OV5BMl5BanBnXkFtZTgwMDk3OTcyMDE@._V1_SX300.jpg,N/A,9.5,"889,883",tt0903747,series,True
Doctor Strange,2016,N/A,04 Nov 2016,N/A,"Action, Adventure, Fantasy",Scott Derrickson,"Scott Derrickson (screenplay), C. Robert Cargill (screenplay), Jon Spaihts (story by), Scott Derrickson (story by), C. Robert Cargill (story by), Steve Ditko (comic book)","Rachel McAdams, Benedict Cumberbatch, Mads Mikkelsen, Tilda Swinton","After his career is destroyed, a brilliant but arrogant and conceited surgeon gets a new lease on life when a sorcerer takes him under her wing and trains him to defend the world against evil.",English,USA,N/A,http://ia.media-imdb.com/images/M/MV5BNjgwNzAzNjk1Nl5BMl5BanBnXkFtZTgwMzQ2NjI1OTE@._V1_SX300.jpg,N/A,N/A,N/A,tt1211837,movie,True
Rogue One: A Star Wars Story,2016,N/A,16 Dec 2016,N/A,"Action, Adventure, Sci-Fi",Gareth Edwards,"Chris Weitz (screenplay), Tony Gilroy (screenplay), John Knoll (story), Gary Whitta (story), George Lucas (characters)","Felicity Jones, Riz Ahmed, Mads Mikkelsen, Ben Mendelsohn","The Rebellion makes a risky move to steal the plans to the Death Star, setting up the epic saga to follow.",English,USA,1 nomination.,"https://images-na.ssl-images-amazon.com/images/M/MV5BMjQyMzI2OTA3OF5BMl5BanBnXkFtZTgwNDg5NjQ0OTE@._V1_SY1000_CR0,0,674,1000_AL_.jpg",N/A,N/A,N/A,tt3748528,movie,True
Assassin's Creed,2016,N/A,21 Dec 2016,N/A,"Action, Adventure, Fantasy",Justin Kurzel,"Bill Collage (screenplay), Adam Cooper (screenplay), Michael Lesslie (screenplay)","Michael Fassbender, Michael Kenneth Williams, Marion Cotillard, Jeremy Irons","When Callum Lynch explores the memories of his ancestor Aguilar and gains the skills of a Master Assassin, he discovers he is a descendant of the secret Assassins society.",English,"UK, France, USA, Hong Kong",N/A,http://ia.media-imdb.com/images/M/MV5BMTU2MTQwMjU1OF5BMl5BanBnXkFtZTgwMDA5NjU5ODE@._V1_SX300.jpg,N/A,N/A,N/A,tt2094766,movie,True
Luke Cage,2016–,TV-MA,30 Sep 2016,55 min,"Action, Crime, Drama",N/A,Cheo Hodari Coker,"Mahershala Ali, Mike Colter, Frankie Faison, Erik LaRay Harvey","Given superstrength and durability by a sabotaged experiment, a wrongly accused man escapes prison to become a superhero for hire.",English,USA,N/A,http://ia.media-imdb.com/images/M/MV5BMTcyMzc1MjI5MF5BMl5BanBnXkFtZTgwMzE4ODY2OTE@._V1_SX300.jpg,N/A,N/A,N/A,tt3322314,series,True

In [ ]:
%scala
df_films.write.format("delta").mode("overwrite").saveAsTable("sakila_dlh.dim_films")

In [ ]:
%sql
SELECT * FROM sakila_dlh.dim_films LIMIT 5

Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Metascore,imdbRating,imdbVotes,imdbID,Type,Response
Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver, Stephen Lang",A paraplegic marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.,"English, Spanish","USA, UK",Won 3 Oscars. Another 80 wins & 121 nominations.,http://ia.media-imdb.com/images/M/MV5BMTYwOTEwNjAzMl5BMl5BanBnXkFtZTcwODc5MTUwMw@@._V1_SX300.jpg,83,7.9,"890,617",tt0499549,movie,True
I Am Legend,2007,PG-13,14 Dec 2007,101 min,"Drama, Horror, Sci-Fi",Francis Lawrence,"Mark Protosevich (screenplay), Akiva Goldsman (screenplay), Richard Matheson (novel), John William Corrington, Joyce Hooper Corrington","Will Smith, Alice Braga, Charlie Tahan, Salli Richardson-Whitfield","Years after a plague kills most of humanity and transforms the rest into monsters, the sole survivor in New York City struggles valiantly to find a cure.",English,USA,9 wins & 21 nominations.,http://ia.media-imdb.com/images/M/MV5BMTU4NzMyNDk1OV5BMl5BanBnXkFtZTcwOTEwMzU1MQ@@._V1_SX300.jpg,65,7.2,"533,874",tt0480249,movie,True
The Avengers,2012,PG-13,04 May 2012,143 min,"Action, Sci-Fi, Thriller",Joss Whedon,"Joss Whedon (screenplay), Zak Penn (story), Joss Whedon (story)","Robert Downey Jr., Chris Evans, Mark Ruffalo, Chris Hemsworth",Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity.,"English, Russian",USA,Nominated for 1 Oscar. Another 34 wins & 75 nominations.,http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg,69,8.1,"1,003,301",tt0848228,movie,True
The Wolf of Wall Street,2013,R,25 Dec 2013,180 min,"Biography, Comedy, Crime",Martin Scorsese,"Terence Winter (screenplay), Jordan Belfort (book)","Leonardo DiCaprio, Jonah Hill, Margot Robbie, Matthew McConaughey","Based on the true story of Jordan Belfort, from his rise to a wealthy stock-broker living the high life to his fall involving crime, corruption and the federal government.","English, French",USA,Nominated for 5 Oscars. Another 35 wins & 154 nominations.,http://ia.media-imdb.com/images/M/MV5BMjIxMjgxNTk0MF5BMl5BanBnXkFtZTgwNjIyOTg2MDE@._V1_SX300.jpg,75,8.2,"786,985",tt0993846,movie,True
Interstellar,2014,PG-13,07 Nov 2014,169 min,"Adventure, Drama, Sci-Fi",Christopher Nolan,"Jonathan Nolan, Christopher Nolan","Ellen Burstyn, Matthew McConaughey, Mackenzie Foy, John Lithgow",A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.,English,"USA, UK",Won 1 Oscar. Another 39 wins & 134 nominations.,http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg,74,8.6,"937,412",tt0816692,movie,True

In [ ]:
# Retrieving Data from Azure Databricks File System (DBFS)

candidates_csv = f"/FileStore/ds2002-lab06/sakila_dlh/50-contacts.csv"

df_candidates = spark.read.format('csv').options(header='true', inferSchema='true').load(candidates_csv)
display(df_candidates)

first_name,last_name,company_name,address,city,county,state,zip,phone1,phone,email
James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com
Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org
Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org
Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com
Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net
Simona,Morasca,"Chapman, Ross E Esq",3 Mcauley Dr,Ashland,Ashland,OH,44805,419-503-2484,419-800-6759,simona@morasca.com
Mitsue,Tollner,Morlong Associates,7 Eads St,Chicago,Cook,IL,60632,773-573-6914,773-924-8565,mitsue_tollner@yahoo.com
Leota,Dilliard,Commercial Press,7 W Jackson Blvd,San Jose,Santa Clara,CA,95111,408-752-3500,408-813-1105,leota@hotmail.com
Sage,Wieser,Truhlar And Truhlar Attys,5 Boston Ave #88,Sioux Falls,Minnehaha,SD,57105,605-414-2147,605-794-4895,sage_wieser@cox.net
Kris,Marrier,"King, Christopher A Esq",228 Runamuck Pl #2808,Baltimore,Baltimore City,MD,21224,410-655-8723,410-804-4694,kris@gmail.com
Minna,Amigon,"Dorl, James J Esq",2371 Jerrold Ave,Kulpsville,Montgomery,PA,19443,215-874-1229,215-422-8694,minna_amigon@yahoo.com
Abel,Maclead,Rangoni Of Florence,37275 St Rt 17m M,Middle Island,Suffolk,NY,11953,631-335-3414,631-677-3675,amaclead@gmail.com
Kiley,Caldarera,Feiner Bros,25 E 75th St #69,Los Angeles,Los Angeles,CA,90034,310-498-5651,310-254-3084,kiley.caldarera@aol.com
Graciela,Ruta,Buckley Miller & Wright,98 Connecticut Ave Nw,Chagrin Falls,Geauga,OH,44023,440-780-8425,440-579-7763,gruta@cox.net
Cammy,Albares,"Rousseaux, Michael Esq",56 E Morehead St,Laredo,Webb,TX,78045,956-537-6195,956-841-7216,calbares@gmail.com
Mattie,Poquette,Century Communications,73 State Road 434 E,Phoenix,Maricopa,AZ,85013,602-277-4385,602-953-6360,mattie@aol.com
Meaghan,Garufi,"Bolton, Wilbur Esq",69734 E Carrillo St,Mc Minnville,Warren,TN,37110,931-313-9635,931-235-7959,meaghan@hotmail.com
Gladys,Rim,T M Byxbee Company Pc,322 New Horizon Blvd,Milwaukee,Milwaukee,WI,53207,414-661-9598,414-377-2880,gladys.rim@rim.org
Yuki,Whobrey,Farmers Insurance Group,1 State Route 27,Taylor,Wayne,MI,48180,313-288-7937,313-341-4470,yuki_whobrey@aol.com
Fletcher,Flosi,Post Box Services Plus,394 Manchester Blvd,Rockford,Winnebago,IL,61109,815-828-2147,815-426-5657,fletcher.flosi@yahoo.com
Bette,Nicka,Sport En Art,6 S 33rd St,Aston,Delaware,PA,19014,610-545-3615,610-492-4643,bette_nicka@cox.net
Veronika,Inouye,C 4 Network Inc,6 Greenleaf Ave,San Jose,Santa Clara,CA,95111,408-540-1785,408-813-4592,vinouye@aol.com
Willard,Kolmetz,"Ingalls, Donald R Esq",618 W Yakima Ave,Irving,Dallas,TX,75062,972-303-9197,972-896-4882,willard@hotmail.com
Maryann,Royster,"Franklin, Peter L Esq",74 S Westgate St,Albany,Albany,NY,12204,518-966-7987,518-448-8982,mroyster@royster.com
Alisha,Slusarski,Wtlz Power 107 Fm,3273 State St,Middlesex,Middlesex,NJ,8846,732-658-3154,732-635-3453,alisha@slusarski.com
Allene,Iturbide,"Ledecky, David Esq",1 Central Ave,Stevens Point,Portage,WI,54481,715-662-6764,715-530-9863,allene_iturbide@cox.net
Chanel,Caudy,Professional Image Inc,86 Nw 66th St #8673,Shawnee,Johnson,KS,66218,913-388-2079,913-899-1103,chanel.caudy@caudy.org
Ezekiel,Chui,"Sider, Donald C Esq",2 Cedar Ave #84,Easton,Talbot,MD,21601,410-669-1642,410-235-8738,ezekiel@chui.com
Willow,Kusko,U Pull It,90991 Thorburn Ave,New York,New York,NY,10011,212-582-4976,212-934-5167,wkusko@yahoo.com
Bernardo,Figeroa,"Clark, Richard Cpa",386 9th Ave N,Conroe,Montgomery,TX,77301,936-336-3951,936-597-3614,bfigeroa@aol.com
Ammie,Corrio,"Moskowitz, Barry S",74874 Atlantic Ave,Columbus,Franklin,OH,43215,614-801-9788,614-648-3265,ammie@corrio.com
Francine,Vocelka,Cascade Realty Advisors Inc,366 South Dr,Las Cruces,Dona Ana,NM,88011,505-977-3911,505-335-5293,francine_vocelka@vocelka.com
Ernie,Stenseth,Knwz Newsradio,45 E Liberty St,Ridgefield Park,Bergen,NJ,7660,201-709-6245,201-387-9093,ernie_stenseth@aol.com
Albina,Glick,"Giampetro, Anthony D",4 Ralph Ct,Dunellen,Middlesex,NJ,8812,732-924-7882,732-782-6701,albina@glick.com
Alishia,Sergi,Milford Enterprises Inc,2742 Distribution Way,New York,New York,NY,10025,212-860-1579,212-753-2740,asergi@gmail.com
Solange,Shinko,"Mosocco, Ronald A",426 Wolf St,Metairie,Jefferson,LA,70002,504-979-9175,504-265-8174,solange@shinko.com
Jose,Stockham,Tri State Refueler Co,128 Bransten Rd,New York,New York,NY,10011,212-675-8570,212-569-4233,jose@yahoo.com
Rozella,Ostrosky,Parkway Company,17 Morena Blvd,Camarillo,Ventura,CA,93012,805-832-6163,805-609-1531,rozella.ostrosky@ostrosky.com
Valentine,Gillian,Fbs Business Finance,775 W 17th St,San Antonio,Bexar,TX,78204,210-812-9597,210-300-6244,valentine_gillian@gmail.com
Kati,Rulapaugh,Eder Assocs Consltng Engrs Pc,6980 Dorsett Rd,Abilene,Dickinson,KS,67410,785-463-7829,785-219-7724,kati.rulapaugh@hotmail.com
Youlanda,Schemmer,Tri M Tool Inc,2881 Lewis Rd,Prineville,Crook,OR,97754,541-548-8197,541-993-2611,youlanda@aol.com
Dyan,Oldroyd,International Eyelets Inc,7219 Woodfield Rd,Overland Park,Johnson,KS,66204,913-413-4604,913-645-8918,doldroyd@aol.com
Roxane,Campain,Rapid Trading Intl,1048 Main St,Fairbanks,Fairbanks North Star,AK,99708,907-231-4722,907-335-6568,roxane@hotmail.com
Lavera,Perin,Abc Enterprises Inc,678 3rd Ave,Miami,Miami-Dade,FL,33196,305-606-7291,305-995-2078,lperin@perin.org
Erick,Ferencz,Cindy Turner Associates,20 S Babcock St,Fairbanks,Fairbanks North Star,AK,99712,907-741-1044,907-227-6777,erick.ferencz@aol.com
Fatima,Saylors,"Stanton, James D Esq",2 Lighthouse Ave,Hopkins,Hennepin,MN,55343,952-768-2416,952-479-2375,fsaylors@saylors.org
Jina,Briddick,Grace Pastries Inc,38938 Park Blvd,Boston,Suffolk,MA,2128,617-399-5124,617-997-5771,jina_briddick@briddick.com
Kanisha,Waycott,"Schroer, Gene E Esq",5 Tomahawk Dr,Los Angeles,Los Angeles,CA,90006,323-453-2780,323-315-7314,kanisha_waycott@yahoo.com
Emerson,Bowley,Knights Inn,762 S Main St,Madison,Dane,WI,53711,608-336-7444,608-658-7940,emerson.bowley@bowley.org
Blair,Malet,Bollinger Mach Shp & Shipyard,209 Decker Dr,Philadelphia,Philadelphia,PA,19132,215-907-9111,215-794-4519,bmalet@yahoo.com

In [ ]:
df_candidates.write.format("delta").mode("overwrite").saveAsTable("sakila_dlh.dim_candidates")

In [ ]:
# Bronze Table
(spark.readStream
 .format("cloudFiles")
 .option("cloudFiles.format", "json")
 .option("cloudFiles.schemaHints", "Index STRING")
 .option("cloudFiles.schemaHints", "User_Id STRING")
 .option("cloudFiles.schemaHints", "First_Name STRING")
 .option("cloudFiles.schemaHints", "Last_Name STRING") 
 .option("cloudFiles.schemaHints", "Sex STRING")
 .option("cloudFiles.schemaHints", "Email STRING")
 .option("cloudFiles.schemaHints", "Phone STRING")
 .option("cloudFiles.schemaHints", "Date_of_birth STRING")
 .option("cloudFiles.schemaHints", "Job_Title STRING")
 .option("cloudFiles.schemaLocation", new_data_bronze)
 .option("cloudFiles.inferColumnTypes", "true")
 .option("multiLine", "true")
 .load(new_data_stream_dir)
 .createOrReplaceTempView("new_data_raw_tempview"))

In [ ]:
%sql
/* Add Metadata for Traceability */
CREATE OR REPLACE TEMPORARY VIEW new_data_bronze_tempview AS (
  SELECT *, current_timestamp() receipt_time, input_file_name() source_file
  FROM new_data_raw_tempview
)

In [ ]:
(spark.table("new_data_bronze_tempview")
      .writeStream
      .format("delta")
      .option("checkpointLocation", f"{new_data_bronze}/_checkpoint")
      .outputMode("append")
      .table("fact_new_data_bronze"))

In [ ]:
(spark.readStream
  .table("new_data_bronze")
  .createOrReplaceTempView("new_data_silver_tempview"))

In [ ]:
# Silver Table
%sql
CREATE OR REPLACE TEMPORARY VIEW fact_new_data_silver_tempview AS (
  SELECT c.first_name,
  c.last_name,
  c.company_name,
  nd.Email,
  nd.Phone,
  nd.JobTitle,
FROM new_data_silver_tempview VERSION AS nd
OUTER JOIN sakila_dlh.dim_candidates AS c
ON nd.Last_Name = c.last_name
}

In [ ]:
(spark.table("fact_new_data_silver_tempview")
      .writeStream
      .format("delta")
      .option("checkpointLocation", f"{new_data_silver}/_checkpoint")
      .outputMode("append")
      .table("fact_new_data_silver"))

In [ ]:
# Gold Table

In [ ]:
%sql
SELECT COUNT(*), JobTitle
FROM sakila_dlh.fact_new_data_silver
GROUP BY JobTitle